/*Gör responsiv, anpassa för telefon*/

* {
  box-sizing: border-box;
}

/*gör lqg-loggan klickbar för att komma till den hemsidan, sätt den på rätt plats*/
/*integrera spelets logga i spelet*/
/*ta bort mario-bilden för att den är copyrighted*/

html {
  scroll-behavior: smooth;
}
main {
  background-color: yellowgreen;
}
.tillLQG {
  /*max-height: fit-content;
  max-width: fit-content;*/
  height: 10rem;
  width: 20%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
p {
  margin: 1rem;
  font-size: 2.2rem;
}
h3 {
  margin: 1rem;
  font-size: 3.4rem;
  font-weight: 560;
  min-width: 10%;
  min-height: 10%;
}
.top {
  display: flex;
  flex-direction: row;
}
.nyheter {
  width: 70%;
  display: flex;

  /*nyaste först*/
  flex-direction: row-reverse;
}
.main-nav {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #333333;

  color: chocolate;
  transition: all 0.4s ease-in-out;
}

.main-nav a {
  color: 091313;
  text-decoration: dashed;
  margin: 6;
  font-size: 5em;
  padding-top: 6mm;
  padding-bottom: 10mm;
  padding-left: 1rem;
  padding-right: 1rem;
}
.main-nav a {
  font-size: 3rem;
  color: azure;
}
.main-nav a:hover {
  background-color: #edfeff;
  color: black;
}
a {
  color: rgb(0, 89, 255);
  min-width: 10%;
  min-height: 10%;
}
.active {
  width: 20%;
  display: flex;
  background: rgb(0, 213, 255);
  color: #333333;
}
.inActive {
  width: 15%;
  padding: 0.2rem;
}

footer {
  margin: 1rem;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(64, 59, 59);
  color: antiquewhite;
}
.container {
  display: grid;
}
.rectangle {
  width: 30%;
  /*height: 15rem;
  */
  min-width: 15rem;
  background-color: rgb(64, 59, 59);
  color: antiquewhite;
}

.image {
  display: flex;
}
/*---------Email--------------*/
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 290px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}
#myInput {
  width: 0rem;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
/*-----------------------*/
.dlBackground {
  color: aliceblue;
  background-image: url(./Bilder/intro-1525214782.jpg);
  background-repeat: repeat;
}
